
body {
    font-family: 'Krona One', sans-serif;
    background-color: #334d66;
    color: black;
    margin: 0;
    padding: 0 10rem;
}

header {
    background-color: #e68600;
    padding:15px;
    text-align: center;
    color: #334d66;

}

header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    margin: 20px;
}

article {
    width: 80%;
    padding: 20px;
    background-color: #e68600;
    border-radius: 5px;
}

aside {
    width: 20%;
    padding: 20px;
    background-color: #e68600;
    border-radius: 5px;
    color: #334d66;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #334d66;
}

footer {
    background-color: #e68600;
    padding: 10px;
    text-align: center;
    color: #334d66;
}

footer a {
    color: #334d66;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.main-nav{
    display: flex;
    flex-direction: row;
    background-color:#e68600 ;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.game-category {
    background-color: #e68600;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    
}

.game-category h3 {
    background-color: #e68600;
    color: #334d66;
    padding: 10px;
    border-radius: 5px;
    
}

.game-category ul {
    list-style-type: square;
    padding-left: 20px;
}

.game-category ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
}
.main-games{
    display: flex;
    justify-content: center;
}
#web-game-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

#web-game-section h2 {
    background-color: #e68600;
    color: #334d66;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#web-game-section p {
    font-size: 1.5em;
    color: #334d66;
    margin-top: 20px;
}
.m{
    display: flex;
}
.ms{
    background-color: #e68600;
}
.scc{
    background-color: #e68600;
    margin-top: 20px;
    padding: 20px;
    
}
.foot{
    display: flex;
    
}
.foot img{
    border-radius: 50%;
    width: 50px;
}


.content{
    background:  #e68600;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 20px 0;
    padding: 0;
}
.first{
    display: flex;
    flex-direction: column;
     margin: 20px 20px;
}
.second{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 20px solid  #334d66;
    padding: 10px 20px;
    font-size: 20px;
}
.sub{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 25px;
}
.main{
    display: flex;
    flex-direction: row;
    background-color:#e68600 ;
    margin: 1.5rem 0;
    justify-content: space-around;
    

}
.fir{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
   
    
}
.siz{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 25px;

}
.siz img{
    width: 200px;  
    height: auto;  
}
.sc{
    display: f;
}
.mainv{
    display: flex;
    flex-direction: column;
    background-color:#e68600 ;
    margin: 1.5rem 0;
    justify-content: space-around;
    

}
.fire{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
   
    
}
.poision{
    display: flex;
    
    flex-direction: column;
    background-color: #e68600;
    margin: 1.5rem 0;
    justify-content: space-around;
   

}
.button {
    
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .film{
   display: flex;
   flex-direction: column;
   margin: 20px 20px;

  }



